body {
    display: flex;
    justify-content: center;
    background-color: #290019;
    background-image: url("./transparentsky.png");
    transition: background-color 0.3s ease;
}

h1 {
    align-self: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 430px;
    background-color: #dbb6ec;
    border: 3px solid #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#fields {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}